:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.completed {
  color: green;
}
.not-completed {
  color: red;
}
input {
  height: 30px;
  margin-right: 10px;
}
button {
  height: 30px;
  margin-right: 10px;
}
